@import 'base';

#wechatLogin{
	overflow: hidden;
	
	.app-login-tab {
		width: 50%;
		height: 4.3333rem;
		margin:0 auto;
		
		li {
			width: 40%;
			height: 4.3333rem;
			display: inline-block;
			padding-left: $sz_16;
			font-size: $fz_12;
			line-height: 4.3333rem;
			color: $color_c0;
			
			em {
				width: 50%;
				height: .11rem;
				background-color: $color_56bd64;
				display:none;
				margin-left: $sz_16;
			}
		}
		
		li:last-child {
			margin-left: 20%; 
		}
		
		li.app-login-tab-password-icon {
			background: url("../images/lock.png") left center no-repeat;
			background-size: auto $sz_12;
		}
		
		li.app-login-tab-message-icon {
			background: url("../images/mail.png") left center no-repeat;
			background-size: $sz_12 auto;
		}
		
		li.active {
			color: $color_56bd64;
			
			em {
				display: block;
			}
			
			&.app-login-tab-password-icon {
				background: url("../images/lock.png") left center no-repeat;
				background-size: auto $sz_12;
			}
			
			&.app-login-tab-message-icon {
				background: url("../images/mail.png") left center no-repeat;
				background-size: $sz_12 auto;
			}
		}
	}
	
	.app-login-form {
		width: 80%;
		height: auto;
		margin-left: 10%;
		
		p {
			width: 100%;
			height: 4.3333rem;
			border-bottom: 1px solid $color_f1;
			padding-top: 1rem;
			
			label {
				width: 20%;
				height: 3.333rem;
				line-height: 3.333rem;
				font-size: $fz_14;
				float: left;
				margin-bottom: 0;
			}
			
			input {
				width: 54%;
				height: 3.2496rem;
				line-height: 3.2496rem;
				font-size: $fz_12;
				background-color: $color_fff !important;
				border: 0 none;
				float: left;
			}
		}
		
		.app-login-verify-btn {
			width: 26%;
			height: 2rem;
			line-height: 2rem;
			text-align: center;
			font-size: $fz_12;
			color: $color_fff;
			@include borderRadius();
			@include backgroundLine();
			float: left;
			margin-top: .56665rem;
		}
		
		.app-login-password-hidden {
			width: $sz_10*2;
			height: $sz_10;
			float: right;
			margin-top: 1.2rem;
			display: block;
			background: url(../images/btn_eye_close.png) center center no-repeat;
			background-size: 100% auto;
			
			&.active {
				background: url(../images/btn_eye_open.png) center center no-repeat;
				background-size: 100% auto;
			}
		}
		
		.app-login-tab-message {
			display: none;
		}
		
		.app-login-submit{
			width: 100%;
			height: 4rem;
			margin: 2.25rem auto 0.6667rem;
			letter-spacing: 1rem;
		}
		
		.app-login-register, .app-login-forget {
			height: 2.3333rem;
			line-height: 2.3333rem;
			font-size: $fz_12;
			color: $color_56bd64;
		}
		
		.app-login-register{
			padding-right: $fz_12;
		}
		
		.app-login-forget{
			padding-left: $fz_12;
		}
	}
}
